extends ./layout.jade

block content
  h1= title
  div(class="ui segment")
    if user
      h2(class="ui header") You are signed in
      p Your username is 
        strong= user.username
      p Your email is 
        strong= user.email
      h2(class="ui header") Possible actions
      a(class="ui button", href=sitegateDomain + "/signout?callbackUrl=http://sitegatedev.com:3001/signout")
        i(class="sign out icon")
        |Sign out
      a(class="ui button", href=sitegateDomain + "/settings")
        i(class="settings icon")
        |Settings
    else
      h2(class="ui header") You are not signed in
      a(class="ui left icon blue button", href=sitegateDomain + "/signin?callbackUrl=http://sitegatedev.com:3001/login")
        i(class="sign in icon")
        |Sign In
      a(class="ui left icon blue button", href=sitegateDomain + "/signup?callbackUrl=http://sitegatedev.com:3001/login")
        i(class="signup icon")
        |Sign Up
      a(class="ui facebook button", href=sitegateDomain + "/auth/facebook?callbackUrl=http://sitegatedev.com:3001/login")
        i(class="facebook icon")
        |Facebook
      a(class="ui twitter button", href=sitegateDomain + "/auth/twitter?callbackUrl=http://sitegatedev.com:3001/login")
        i(class="twitter icon")
        |Twitter
      a(class="ui google plus button", href=sitegateDomain + "/auth/google?callbackUrl=http://sitegatedev.com:3001/login")
        i(class="google plus icon")
        |Google Plus